.product {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 5px;
    gap: 12px;
    border-radius: 6px;
}

.productWrapper {
    display: flex;
    min-width: 350px;
    justify-content: space-between;
    align-items: center;
}

.productName {
    color: #656565;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

.cartInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
